@mixin responsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        //Kiểm tra xem $screen có tồn tại trong $breakpoints không
        $value: map-get(
            $map: $breakpoints,
            $key: $screen,
        );
        @media screen and (max-width: $value) {
            @content;
        }
    } @else {
        @warn "Nhập lại";
    }
}
