


$cl_white_01: #fff;
$cl_black_01: #000;
$cl_green_01: green;
$cl_blue_01: blue;
$cl_orange_01: orange;


$cl_bg_01-d: #12181B;
$cl_bg_02-d: #2a2e35;
$cl_bg_03-d: #2e3234;

$cl_bg_01-l: #f1f1f1;
$cl_bg_02-l: #fff;
$cl_bg_03-l: #f1f1f1;

$cl_theme_01-d: #FE810F;
$cl_theme_02-d: #ffa2a2;
$cl_txt_01-d: #f8f8f8;
$cl_txt_02-d: #b2becd;

$cl_theme_01-l: #FE810F;
$cl_theme_02-l: #ffa2a2;
$cl_txt_01-l: #000000;
$cl_txt_02-l: #323232;

//shadow color
$cl_shadow_01-d: #1d2025;
$cl_shadow_02-d: #373c45;
$cl_shadow_03-d: #0e1316;
$cl_shadow_04-d: #161d20;

$cl_shadow_01-l: #F1F1F1;
$cl_shadow_02-l: #EFEFEF;
$cl_shadow_03-l: #F1F1F1;
$cl_shadow_04-l: #EFEFEF;


$theme-dark:(
    'cl_bg_01': $cl_bg_01-d,
    'cl_bg_02': $cl_bg_02-d,
    'cl_bg_03': $cl_bg_03-d,

    'cl_txt_01': $cl_txt_01-d,
    'cl_txt_02': $cl_txt_02-d,

    'cl_theme_01': $cl_theme_01-d,
    'cl_theme_02': $cl_theme_02-d,
    
    'cl_shadow_01': $cl_shadow_01-d,
    'cl_shadow_02': $cl_shadow_02-d,
    'cl_shadow_03': $cl_shadow_03-d,
    'cl_shadow_04': $cl_shadow_04-d,
);

$theme-light:(
    'cl_bg_01': $cl_bg_01-l,
    'cl_bg_02': $cl_bg_02-l,
    'cl_bg_03': $cl_bg_03-l,

    'cl_txt_01': $cl_txt_01-l,
    'cl_txt_02': $cl_txt_02-l,

    'cl_theme_01': $cl_theme_01-l,
    'cl_theme_02': $cl_theme_02-l,   
    
    'cl_shadow_01': $cl_shadow_01-l,
    'cl_shadow_02': $cl_shadow_02-l,
    'cl_shadow_03': $cl_shadow_03-l,
    'cl_shadow_04': $cl_shadow_04-l,
);



//radius
$r_hard: 16px;
$r_medium: 10px;
$r_soft: 5px;
$r_thin: 2px;
$r_round: 50%;

//padding
// $pd-0: 3px;
$pd-0: 3px;
$pd-1: 5px;
$pd-2: 7px;
$pd-3: 10px;
$pd-4: 15px;
$pd-5: 20px;
$pd-6: 30px;
$pd-7: 40px;
$pd-8: 50px;

$pd-a: 8%;

//margin
$mg-0: 3px;
$mg-1: 5px;
$mg-2: 7px;
$mg-3: 10px;
$mg-4: 15px;
$mg-5: 20px;
$mg-6: 30px;
$mg-7: 40px;
$mg-8: 50px;

//width & height
$w_nav: 110px;
$h_funcbar: 40px;
//line-height
$line-height-0: 1.43; //default

$shadow_0: (0px 0px 5px $cl_black_01);
$shadow_1: (-20px 0px 10px $cl_black_01);
$shadow_3: (0px 0px 4px rgba(0, 0, 0, .38));


//line_distance
$line_mg-2: 20px;

$line_weght-medium: 5px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px,
);
