<div class="carousel__banner  col-6 col-xm-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <p>What's on <span>Today</span></p>
    <p>At moviezone cinema & theatres</p>
    <p>All reserved seating - choose your exact seat!</p>
    <button> Discover now</button>
</div>
<div class="carousel__slide  col-6 col-xm-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
    <div class="carousel-container">
        <button id="prevBtn">
            <i class="fa fa-arrow-left"></i>
        </button>
        <button id="nextBtn">
            <i class="fa fa-arrow-right"></i>
        </button>
        <div class="carousel-slide">

            <div class="carousel-image">
                <img src="./image/carousel_img_1.jpg" alt="">
                <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-image">
                <img src="./image/carousel_img_2.jpg" alt="">
                    <div class="overlay__bg"></div>
                <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-image">
                <img src="./image/carousel_img_3.jpg" alt="">
                    <div class="overlay__bg"></div>
                    <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-image">
                    <div class="overlay__bg"></div>
                    <img src="./image/carousel_img_4.jpg" alt="">
                <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-image">
                    <div class="overlay__bg"></div>
                    <img src="./image/carousel_img_5.jpg" alt="">
                <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-image">
                <div class="overlay__bg"></div>
                <img src="./image/carousel_img_6.jpg" alt="">
                <div class="overlay">
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div>
            </div>
            <div class="carousel-dots" style="text-align:center">
            </div>
        </div>

    </div>
</div>