<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-showing-tab" data-toggle="pill" href="#pills-showing" role="tab"
            aria-controls="pills-showing" aria-selected="true">Phim đang chiếu</a>
    </li> 
    <li class="nav-item">
        <a class="nav-link" id="pills-coming-tab" data-toggle="pill" href="#pills-coming" role="tab"
            aria-controls="pills-coming" aria-selected="false">Phim sắp chiếu</a>
    </li>


</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-showing" role="tabpanel" aria-labelledby="pills-showing-tab">
        <div class="showing-tab">
            <!-- <h3 class="title">Phim đang chiếu</h3> -->
            <div class="owl-carousel">
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt="" srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://i.imgur.com/TKfQVxC.png" alt="" srcset="">
                    </div>
                    <h4 class="film-title">Avengers: Infinity war</h4>
                </div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
                <div> Xyax</div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-coming" role="tabpanel" aria-labelledby="pills-coming-tab">
        <div class="coming-tab">
            <div class="owl-carousel">
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
            </div>
        </div>
    </div>
</div>