<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="pills-showing-tab" data-toggle="pill" href="#pills-showing" role="tab"
            aria-controls="pills-showing" aria-selected="true">Phim đang chiếu</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-coming-tab" data-toggle="pill" href="#pills-coming" role="tab"
            aria-controls="pills-coming" aria-selected="false">Phim sắp chiếu</a>
    </li>


</ul>
<div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-showing" role="tabpanel" aria-labelledby="pills-showing-tab">
        <div class="showing-tab">
            <!-- <h3 class="title">Phim đang chiếu</h3> -->
            <div class="owl-carousel">
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"><i class="fas fa-play-circle    "></i>Trailer</div>
                                <div class="detail-btn"><i class="fas fa-link    "></i>Detail</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-content">
                    <div class="imgBx">
                        <img src="https://images-na.ssl-images-amazon.com/images/I/71zaL8t0qgL._AC_SY741_.jpg" alt=""
                            srcset="">
                    </div>
                    <h4 class="film-title">1917</h4>
                    <div class="slide-content__detail">
                        <div class="wrapper">
                            <div class="wrapper__header">
                                <div class="title">1917</div>
                                <div class="star-group">
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star active"></i>
                                    <i class="fas fa-star"></i>
                                    <span class="numVote">(122 Votes)</span>
                                </div>
                                <div class="age_n_duration">
                                    <div class="age">PG</div>
                                    <div class="duration"><i class="fas fa-clock    "></i>2 giờ 30 phút</div>
                                </div>
                                <div class="rating">8.5</div>
                            </div>
                            <div class="wrapper__body">
                                <div class="summary">
                                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque dolorem laudantium
                                    error veritatis soluta sequi sit ratione qui consequatur dignissimos commodi, in
                                    facere...
                                </div>
                                <div class="detail">
                                    <div class="d__lang">Language: <span>English</span></div>
                                    <div class="d__date">Released: <span>June-12-2019</span></div>
                                    <div class="d__genre">Genre:   <span>Drama, Military</span></div>
                                    <div class="d__actor">Actor: <span>Random</span> </div>
                                    <div class="d__director">Director: <span>Random</span> </div>
                                </div>
                            </div>
                            <div class="wrapper__footer">
                                <div class="trailer-btn"></div>
                                <div class="detail-btn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="pills-coming" role="tabpanel" aria-labelledby="pills-coming-tab">
        <div class="coming-tab">
            <div class="owl-carousel">
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
                <div class="slide_content">xyz</div>
            </div>
        </div>
    </div>
</div>