<div class="theme-footer-widget flw">
    <div class="container">
        <div class="row">
            <div class="footer-widget-it">
                <aside id="text-2" class="widget widget_text">
                    <div class="textwidget">
                        <a href="https://boostifythemes.com/demo/wp/buster/">
                            <div class="imgBx">
                                <img class="ft-logo" src="./image/main_logo.png" alt="footer-logo">
                            </div>
                        </a>
                        <div class="ft-des">
                            <p>5th Avenue st, manhattan<br> New York, NY 10001</p>
                            <p>Call us: <a href="#">(+01) 202 342
                                    6789</a></p>
                        </div>
                    </div>
                </aside>
            </div>
            <div class="footer-widget-it">
                <aside id="nav_menu-2" class="widget widget_nav_menu">
                    <h4 class="footer-widget-title">Resources</h4>
                    <div class="menu-footer-custom-menu-1-container">
                        <ul id="menu-footer-custom-menu-1" class="menu">
                            <li id="menu-item-71"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-71"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">About Block Buster</a>
                            </li>
                            <li id="menu-item-72"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-72"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Contact Us</a></li>
                            <li id="menu-item-73"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-fitem-73"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Forums</a></li>
                            <li id="menu-item-74"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-74"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Blog</a></li>
                            <li id="menu-item-75"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-75"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Help Center</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="footer-widget-it">
                <aside id="nav_menu-4" class="widget widget_nav_menu">
                    <h4 class="footer-widget-title">Account</h4>
                    <div class="menu-footer-custom-menu-3-container">
                        <ul id="menu-footer-custom-menu-3" class="menu">
                            <li id="menu-item-79"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-79"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">My Account</a></li>
                            <li id="menu-item-80"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-80"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Watchlist</a></li>
                            <li id="menu-item-81"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-81"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Collections</a></li>
                            <li id="menu-item-82"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-82"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">User Guide</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="footer-widget-it">
                <aside id="nav_menu-3" class="widget widget_nav_menu">
                    <h4 class="footer-widget-title">Legal</h4>
                    <div class="menu-footer-custom-menu-2-container">
                        <ul id="menu-footer-custom-menu-2" class="menu">
                            <li id="menu-item-76"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-76"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Terms of Use</a></li>
                            <li id="menu-item-77"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-77"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Privacy Policy</a></li>
                            <li id="menu-item-78"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-78"><a
                                    href="https://boostifythemes.com/demo/wp/buster/#">Security</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
            <div class="widget_mailchimp footer-widget-it">
                <aside id="mailchimp_subscribe-2" class="widget_mailchimp widget widget_mailchimp_subscribe">
                    <h4 class="widget_mailchimp footer-widget-title">Newsletter</h4>
                    <div class="footer-email-widget flw">
                        <p>Subscribe to our newsletter system now to get latest news from us</p>
                        <form action="https://boostifythemes.com/demo/wp/buster/#" method="post"
                            id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                            class="footer-email-form flw"> <label for="mce-EMAIL"
                                class="footer-email-label flw wow fadeInUp"
                                style="visibility: visible; animation-name: fadeInUp;"> <input type="email"
                                    placeholder="Enter your email" name="EMAIL" id="mce-EMAIL" required="">
                            </label> <button id="mc-embedded-subscribe" type="submit" name="subscribe"
                                class="footer-email-submit flw wow fadeInUp" data-wow-delay=".2s"
                                style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">Subscribe
                                now</button></form>
                    </div>
                </aside>
            </div>
        </div>
    </div>
</div>
<div class="copy-right flw">
    <div class="container flex-ft-item"> <span>© 2018 Blockter. All Rights Reserved. Designed by <a
                href="http://themeforest.net/user/boostifythemes">BoostifyThemes</a>.</span> <a
            class="scroll-to-top scroll-animation"> <span>Back to top</span> <span
                class="scroll-to-top ion-ios-arrow-thin-up scroll-animation"></span> </a></div>
</div>