<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon"
        href="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Sortland_bridge.jpg/1200px-Sortland_bridge.jpg"
        type="image/x-icon">
    <title>Hoshi Cinema</title>
    <link rel="stylesheet" href="./library/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <link rel="stylesheet" href="./library/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="./css/homepage.css">
</head>

<body>
    <div class="container main-container">
        <nav class="navbar navbar-expand-sm" insert="./html_e/nav.html"></nav>
        <div class="carousel row" insert="./html_e/carousel.html"></div>
        <div class="feature" insert="./html_e/feature.html"></div>
        <div class="showtime" insert="./html_e/showtime.html"></div>
        <footer insert="./html_e/footer.html"></footer>
        <div class="scrollTop" onclick="scrollToTop()">
            <i class="fas fa-arrow-up    "></i>
        </div>

    </div>
    <script src="./library/bootstrap/jquery.min.js"></script>
    <script src="./library/bootstrap/popper.min.js"></script>
    <script src="./library/bootstrap/bootstrap.min.js"></script>
    <script src="./library/owl-carousel/owl.carousel.min.js"></script>
    <script src="./js/script.js"></script>
    <script src="./js/homepage.js"></script>
    <script src="./js/carousel.js"></script>
    <script>
        setTimeout(() => {
            $(document).ready(function () {
                $(".owl-carousel").owlCarousel({
                    loop: true,
                    margin: 20,
                    nav: true,
                    dots: false,
                    responsive: {
                        0: {
                            items: 1
                        },
                        600: {
                            items: 3
                        },
                        1000: {
                            items: 5
                        }
                    }
                });
            });
            QuangCarousel(false, 5, '.5s', 1500, .4, 5);

        }, 600)
    </script>
</body>

</html>