nav {
    @include shadow(1, $shadow_0, none);
    position: fixed;
    background-color: var(--cl_bg_02);
    height: 100vh;
    width: $w_nav;
    cursor: pointer;
    z-index: 900;

    .nav__branch {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 90px;
        text-align: center;

        background-color: var(--cl_theme_01);
        .logo {
            width: 100%;
            height: 40%;
            overflow: hidden;

            margin-bottom: $mg-1;
            img {
                height: 100%;
            }
        }
        .name {
            color: var(--cl_txt_01);
            font-family: "Lora", serif;
            letter-spacing: 3px;
            font-size: 1rem;
        }
    }
    .hamburger__menu {
        display: none;
        position: absolute;
        width: 21px;
        height: 16px;
        top: 1.4rem;
        left: 1.9rem;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s;
        z-index: 3;
        .center {
            position: absolute;
            height: 2px;
            width: 70%;
            top: 50%;
            transform: translateY(-50%);
            background-color: #fff;
            border-radius: 1px;
        }
        &:hover {
            opacity: 1;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #fff;
        }
        &::before {
            top: 0;
        }
        &::after {
            bottom: 0;
        }
    }
    .nav__item {
        position: relative;
        text-transform: uppercase;
        height: 80px;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 30px;

        // transition: 0.4s all ease-in;

        &:hover {
            color: var(--cl_theme_02);
            .tooltip {
                visibility: visible;
            }
        }
        &.active {
            background-color: var(--cl_bg_01);
            color: var(--cl_theme_02);
        }
        i {
            font-size: 2rem;
        }
        small {
            font-size: 0.5rem;
        }
        &:nth-of-type(2) {
            i {
                font-size: 2.3rem;
                margin-bottom: 5px;
            }
        }
    }
    .nav__profile {
        margin-top: $mg-7;
        .avatar {
            margin-bottom: 5px;
            width: 50px;
            height: 50px;
            border-radius: $r_round;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    }
}
#navTopic {
    position: relative;
    color: var(--cl_txt_02);
    .overlay__content {
        .topicOpts__title {
            font-size: 2.5rem;
            margin: $mg-8 0;
            text-align: center;
        }
        .topicOpts__container {
            font-family: "Gotu", sans-serif;
            width: 90%;
            position: relative;
            margin: 0 auto;
            display: grid;
            grid-column-gap: $pd-6;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-template-rows: minmax(auto, auto);
            .optCard {
                display: flex;
                padding: $pd-4 $pd-6;
                flex-direction: column;
                width: 100%;
                height: 450px;
                position: relative;
                grid-column: span 1;
                grid-row: span 1;
                margin: 0 auto;
                background-color: var(--cl_bg_03);
                &.opt-active {
                    border: 10px solid var(--cl_theme_01);
                    svg {
                        * {
                            fill: var(--cl_theme_02);
                        }
                    }
                }
            }
            .optCard__visual {
                align-items: center;
                padding: 30px;
                height: 70%;
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                font-size: 0.8em;
                svg {
                    height: 60%;
                    * {
                        fill: var(--cl_txt_02);
                    }
                }
                .content {
                    font-size: 1.7rem !important;
                    color: var(--cl_txt_01);
                }
            }

            .optCard__info {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                height: 20%;
                .content {
                    font-size: 0.5em;
                    text-align: center;
                }
            }

            .optCard__check {
                position: absolute;
                transform: translateY(-100%);
                left: 0;
                z-index: 2;
                bottom: -130px;
                padding: 10px;
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
            }
            .optCard__check-inp {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                &:checked {
                    & ~ .optCard__check-rd {
                        background: var(--cl_theme_01);
                        &::after {
                            display: block;
                        }
                    }
                }
            }
            .optCard__check-rd {
                position: relative;
                display: block;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
                background: var(--cl_txt_01);
                border-radius: 50%;
                &::after {
                    content: "";
                    position: absolute;
                    display: none;
                    top: 50%;
                    left: 50%;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    border: solid 3px white;
                    transform: translate(-50%, -50%) rotate(45deg);
                }
            }
        }
    }
}
