nav{
    color: #fff;
    background-color: #223a4776;
}
.movie__bg {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background: linear-gradient(
            to bottom,
            rgba(18, 24, 27, 0) 15%,
            rgba(18, 24, 27, 0.6) 25%,
            rgba(18, 24, 27, 0.8) 30%,
            rgba(18, 24, 27, 0.9) 45%,
            rgba(18, 24, 27, 0.99) 55%
        ),
        url(../image/pc_bg.jpg) no-repeat top;
    // background: linear-gradient(
    //         to bottom,
    //         rgba(0, 0, 0, 0) 0%,
    //         rgba(0, 0, 0, 0.8) 60%,
    //         rgba(0, 0, 0, 1)
    //     ),
    //     url(../image/pc_bg.jpg) no-repeat top / cover;
}
.seat-booking {
    display: flex;
    
    .seat-booking__left {
        height: 1200px;
        border: 5px dashed rgb(110, 105, 255);
    }
}
.seat-booking__right {
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px dashed rgb(72, 148, 255);  
}

.container {
    perspective: 1000px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seat {
    background-color: #444451;
    height: 18px;
    width: 22px;
    margin: 5px 5px;
}

.selected {
    background-color: #22cb00;
}

.occupied {
    background-color: rgb(43, 89, 255);
}

.seat:nth-of-type(2) {
    margin-right: 25px;
}

.seat:nth-last-of-type(2) {
    margin-left: 25px;
}

.seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
}

.showcase {
    display: flex;
    position: relative;
    justify-content: space-between;
    list-style-type: none;
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
}

.showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.showcase li small {
    margin-left: 2px;
}


p.text {
    margin: 40px 0;
}

p.text span {
    color: #0081cb;
    font-weight: 600;
    box-sizing: content-box;
}

.credits a {
    color: #fff;
}
