@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&opacity=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--cl_txt_02);
  line-height: 1.43;
  background-color: var(--cl_bg_01); }
  html.dark-theme,
  body.dark-theme {
    --cl_bg_01: #12181B;
    --cl_bg_02: #2a2e35;
    --cl_bg_03: #2e3234;
    --cl_txt_01: #f8f8f8;
    --cl_txt_02: #b2becd;
    --cl_theme_01: #FE810F;
    --cl_theme_02: #ffa2a2;
    --cl_shadow_01: #1d2025;
    --cl_shadow_02: #373c45;
    --cl_shadow_03: #0e1316;
    --cl_shadow_04: #161d20; }
  html.light-theme,
  body.light-theme {
    --cl_bg_01: #f1f1f1;
    --cl_bg_02: #fff;
    --cl_bg_03: #f1f1f1;
    --cl_txt_01: #000000;
    --cl_txt_02: #323232;
    --cl_theme_01: #FE810F;
    --cl_theme_02: #ffa2a2;
    --cl_shadow_01: #F1F1F1;
    --cl_shadow_02: #EFEFEF;
    --cl_shadow_03: #F1F1F1;
    --cl_shadow_04: #EFEFEF; }

.main-container {
  padding: 0;
  max-width: 1700px; }

.feature {
  opacity: 1;
  display: auto; }

nav {
  opacity: 1;
  display: auto !important; }

.showtime {
  opacity: 1;
  display: auto; }

.carousel {
  opacity: 1;
  display: auto !important; }

ul {
  list-style: none; }

.imgBx {
  width: 100px;
  height: 70px;
  overflow: hidden; }
  .imgBx img {
    max-width: 100%;
    height: 100%; }

.scrollTop {
  position: fixed;
  bottom: 30px;
  right: 50px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8em;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: .5s ease-in; }
  .scrollTop.active {
    visibility: visible;
    opacity: 1; }

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit; }

hr {
  margin-top: 30px;
  border-top: 5px dashed #ccc; }

button {
  outline: none;
  border: none; }

a:hover {
  color: inherit; }

nav {
  justify-content: space-between; }
  nav .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%; }
  nav #navigation {
    width: 60%;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: bold; }
  nav .navbar-nav {
    width: 100%; }
  nav .nav-item {
    margin-right: 30px; }
    nav .nav-item button {
      background-color: inherit !important;
      font-size: inherit;
      color: inherit;
      outline: none;
      font-weight: inherit; }
    nav .nav-item:hover {
      color: #FE810F; }
  nav .modal-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.496);
    width: 100%;
    height: 100%; }
  nav .modal-dialog {
    max-width: 65%;
    color: #000000; }
  nav .modal-body {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    nav .modal-body .login-top.left {
      float: left;
      width: 56%;
      padding: 50px;
      background: #fff; }
      nav .modal-body .login-top.left input[type="submit"]:hover {
        background: #227279; }
      nav .modal-body .login-top.left .imgBx {
        margin: 0 auto; }
      nav .modal-body .login-top.left h2 {
        text-align: center;
        margin-bottom: 40px; }
      nav .modal-body .login-top.left input {
        padding: 10px 0;
        padding-right: 30px;
        margin-bottom: 10px; }
      nav .modal-body .login-top.left textarea {
        height: 80px;
        padding: 10px 0;
        margin-bottom: 40px; }
      nav .modal-body .login-top.left input,
      nav .modal-body .login-top.left textarea {
        width: 100%;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #999; }
      nav .modal-body .login-top.left textarea {
        margin-bottom: 20px; }
      nav .modal-body .login-top.left input[type="submit"] {
        border-bottom: none;
        cursor: pointer;
        background: #FE810F;
        color: #fff;
        margin-bottom: 0em;
        text-transform: uppercase; }
      nav .modal-body .login-top.left form div {
        position: relative;
        margin-bottom: 30px; }
        nav .modal-body .login-top.left form div label {
          position: absolute;
          top: 10px;
          left: 0;
          transition: 0.5s;
          pointer-events: none; }
        nav .modal-body .login-top.left form div small {
          display: block;
          color: red; }
      nav .modal-body .login-top.left input:focus ~ label,
      nav .modal-body .login-top.left textarea:focus ~ label,
      nav .modal-body .login-top.left input:valid ~ label,
      nav .modal-body .login-top.left textarea:valid ~ label {
        top: -12px;
        left: 0;
        color: #FE810F;
        font-size: 12px;
        font-weight: bold; }
      nav .modal-body .login-top.left input:focus,
      nav .modal-body .login-top.left textarea:focus,
      nav .modal-body .login-top.left input:valid,
      nav .modal-body .login-top.left textarea:valid {
        border-bottom: 2px solid #FE810F; }
    nav .modal-body .login-top.right {
      width: 40%;
      float: left;
      padding: 4.8em 1.5em;
      background: url(../image/login_bg.jpg);
      color: #fff; }
      nav .modal-body .login-top.right .form-check-label span {
        margin-left: 20px; }
      nav .modal-body .login-top.right .form-check-input {
        width: 20px;
        height: 20px; }
      nav .modal-body .login-top.right h3 {
        text-align: center;
        margin: 0em 0 1em 0;
        color: #fff;
        font-size: 1.5em;
        font-weight: 300; }
      nav .modal-body .login-top.right .form-group {
        position: relative;
        margin: 0 0 28px 0; }
        nav .modal-body .login-top.right .form-group label {
          position: absolute;
          transform: translateY(-50%);
          top: 50%;
          left: 10px;
          color: #FE810F; }
        nav .modal-body .login-top.right .form-group input[type="text"],
        nav .modal-body .login-top.right .form-group input[type="password"] {
          outline: none;
          font-size: 0.9em;
          color: #999;
          padding: 12px 12px 12px 40px;
          margin: 0;
          width: 100%;
          border: 1px solid #fff;
          -webkit-appearance: none;
          font-family: "Open Sans", sans-serif;
          border-radius: 5px; }
    nav .modal-body .login-bottom {
      margin: 2em 0 3em 0; }
      nav .modal-body .login-bottom a {
        float: left;
        color: #fff;
        font-size: 0.95em;
        line-height: 43px; }
        nav .modal-body .login-bottom a:hover {
          color: #fff;
          transition: 0.5s all;
          -webkit-transition: 0.5s all;
          -moz-transition: 0.5s all;
          -o-transition: 0.5s all;
          -ms-transition: 0.5s all;
          text-decoration: underline; }
      nav .modal-body .login-bottom input[type="submit"] {
        font-size: 0.9em;
        color: #fff;
        background: #FE810F;
        outline: none;
        border: none;
        cursor: pointer;
        padding: 12px 10px;
        -webkit-appearance: none;
        width: 35%;
        font-weight: 400;
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        -ms-transition: 0.5s all;
        text-transform: uppercase;
        float: right;
        border-radius: 5px; }
      nav .modal-body .login-bottom input[type="submit"]:hover {
        background: #227279; }
    nav .modal-body .eye {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      nav .modal-body .eye .hide1 {
        display: none; }

.carousel {
  width: 100%;
  height: 500px;
  background: url("../image/carousel_bg.jpg") top/cover;
  margin: 0; }

.carousel__banner {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  .carousel__banner p:nth-of-type(1) {
    font-size: 2.6rem;
    font-weight: 700; }
    .carousel__banner p:nth-of-type(1) span {
      color: #bb511e; }
  .carousel__banner p:nth-of-type(2) {
    font-size: 1.6rem;
    text-align: right;
    font-style: italic; }
  .carousel__banner p:last-of-type {
    text-transform: none;
    align-self: left; }
  .carousel__banner button {
    background: linear-gradient(to right, #bb511e, #f1bc00);
    padding: 7px 40px;
    color: inherit;
    border-radius: 16px;
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 500; }

.carousel__slide {
  /* .carousel-image:hover, */ }
  .carousel__slide .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    box-sizing: content-box;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    margin: auto;
    overflow: hidden; }
  .carousel__slide .carousel-slide {
    display: flex;
    width: fit-content; }
  .carousel__slide .carousel-image {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; }
    .carousel__slide .carousel-image.active:hover .overlay {
      opacity: 1;
      transition: opacity .5 ease-in; }
    .carousel__slide .carousel-image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.258);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity .5 ease-in;
      opacity: 0; }
      .carousel__slide .carousel-image .overlay i {
        margin: 7px;
        color: #fff;
        font-size: 1.5rem; }
      .carousel__slide .carousel-image .overlay .overlay__bg {
        height: 100%; }
  .carousel__slide .carousel-image.active {
    position: relative;
    transform: scale(1.6);
    z-index: 10; }
  .carousel__slide .carousel-image.sub {
    position: relative;
    transform: scale(1.2);
    z-index: 5; }
  .carousel__slide img {
    /* width: 300px; */
    min-height: 100%;
    max-height: 100%;
    /* Dùng cho object fit cho những ảnh có chiều rộng lớn hơn chiều dài */
    object-fit: cover; }
  .carousel__slide .carousel-dots {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__slide .dot {
    border: 1px solid darkgray;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d0d0d0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s; }
  .carousel__slide .dot.active,
  .carousel__slide .dot:hover {
    background-color: #717171; }
  .carousel__slide button {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    display: none; }
  .carousel__slide #prevBtn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 30px !important;
    z-index: 10;
    opacity: 0.8;
    cursor: pointer; }
  .carousel__slide #nextBtn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    font-size: 30px !important;
    z-index: 10;
    opacity: 0.8;
    cursor: pointer; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  background-color: #12181B;
  padding: 30px 0; }
  .feature .title {
    font-size: 2.8rem; }
  .feature .nav-pills {
    justify-self: center;
    margin-bottom: 50px !important; }
    .feature .nav-pills .nav-item {
      color: #fff;
      position: relative;
      font-size: 1.8rem;
      font-weight: bold;
      margin-right: 20px;
      display: flex;
      align-items: center; }
      .feature .nav-pills .nav-item::after {
        content: '/'; }
    .feature .nav-pills .nav-link {
      background: none;
      display: inline-block; }
      .feature .nav-pills .nav-link.active {
        color: #FE810F; }
  .feature .owl-stage-outer {
    width: 80vw; }
  .feature .owl-item {
    height: 450px;
    color: #fff;
    padding-bottom: 10px; }
    .feature .owl-item:hover {
      z-index: 10; }
  .feature .owl-nav .owl-next, .feature .owl-nav .owl-prev {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 10;
    top: 40%;
    background: white !important;
    border-radius: 50%;
    border: 2px solid #FE810F;
    outline: none; }
    .feature .owl-nav .owl-next span, .feature .owl-nav .owl-prev span {
      font-size: 30px;
      line-height: 50px; }
  .feature .owl-nav .owl-next {
    right: -10px;
    transform: translate(100%, -50%); }
  .feature .owl-nav .owl-prev {
    transform: translate(-100%, -50%);
    left: -10px; }

footer {
  background-color: #144b67;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/footer_bg.jpg) no-repeat bottom/cover;
  color: #fff;
  padding: 40px 0; }
  footer .row {
    justify-content: space-between; }
    footer .row .imgBx {
      margin: 0 auto;
      margin-bottom: 15px; }
  footer .copy-right {
    text-align: center;
    font-size: 1.2rem; }

.slide-content {
  text-align: center;
  width: 100%;
  height: 100%; }
  .slide-content:hover .imgBx .imgBx__overlay {
    width: 100%;
    height: 100%;
    opacity: 0.4;
    transition: all ease-in 0.1s;
    transition-delay: 0.3s; }
  .slide-content:hover .imgBx i {
    opacity: 1;
    transition: all ease-in 0.1s;
    transition-delay: 0.3s; }
  .slide-content:hover .slide-content__detail {
    transition: opacity 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
    width: 350px; }
    .slide-content:hover .slide-content__detail.left .wrapper {
      animation: fadeRight 0.3s;
      right: -10px;
      animation-delay: 0.3s; }
    .slide-content:hover .slide-content__detail.right .wrapper {
      animation: fadeLeft 0.3s;
      left: -10px;
      animation-delay: 0.3s; }
  .slide-content .imgBx {
    position: relative;
    height: 300px;
    width: 100%;
    margin-bottom: 15px; }
    .slide-content .imgBx i {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all ease-in 0.3s;
      font-size: 2rem; }
  .slide-content .imgBx__overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: #FE810F;
    opacity: 0;
    transition: all ease-in 0.1s; }
  .slide-content .slide-content__detail {
    width: 0px;
    height: 300px;
    position: absolute;
    top: 0;
    background-color: transparent;
    opacity: 0; }
    .slide-content .slide-content__detail.left {
      transform: translateX(100%);
      right: 0; }
      .slide-content .slide-content__detail.left .wrapper {
        right: 0px;
        border-left: 5px solid #FE810F; }
        .slide-content .slide-content__detail.left .wrapper::after {
          margin-left: -5px;
          right: 101%;
          border-color: transparent #FE810F transparent transparent; }
    .slide-content .slide-content__detail.right {
      transform: translateX(-100%);
      left: 0; }
      .slide-content .slide-content__detail.right .wrapper {
        left: 0;
        border-right: 5px solid #FE810F; }
        .slide-content .slide-content__detail.right .wrapper::after {
          margin-right: -5px;
          left: 101%;
          border-color: transparent transparent transparent #FE810F; }
    .slide-content .slide-content__detail .wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: white;
      color: black;
      text-align: center;
      border-radius: 5px;
      padding: 10px 10px;
      transition: opacity 0.3s ease-in;
      text-align: left; }
      .slide-content .slide-content__detail .wrapper::after {
        content: "";
        position: absolute;
        transform: translateY(-50%);
        top: 50%;
        border-width: 7px;
        border-style: solid; }
    .slide-content .slide-content__detail .wrapper__header {
      position: relative;
      margin-bottom: 10px; }
      .slide-content .slide-content__detail .wrapper__header .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 5px; }
      .slide-content .slide-content__detail .wrapper__header .star-group {
        font-size: 0.8rem;
        margin-bottom: 5px; }
        .slide-content .slide-content__detail .wrapper__header .star-group .active {
          color: #FE810F; }
      .slide-content .slide-content__detail .wrapper__header .age_n_duration {
        display: flex;
        align-items: center; }
        .slide-content .slide-content__detail .wrapper__header .age_n_duration .age {
          width: 35px;
          height: 25px;
          text-align: center;
          font-size: 1.1rem;
          line-height: 25px;
          background-color: #FE810F;
          margin-right: 7px;
          padding: 0;
          border-radius: 5px;
          color: #fff; }
        .slide-content .slide-content__detail .wrapper__header .age_n_duration .duration {
          font-size: 1rem; }
          .slide-content .slide-content__detail .wrapper__header .age_n_duration .duration i {
            margin-right: 5px;
            color: #f1f1f1; }
      .slide-content .slide-content__detail .wrapper__header .rating {
        position: absolute;
        right: 0;
        bottom: 10%;
        width: 40px;
        height: 40px;
        color: #fff;
        line-height: 40px;
        text-align: center;
        border-radius: 50%;
        background-color: #FE810F; }
    .slide-content .slide-content__detail .wrapper__body {
      font-size: 1rem;
      width: 100%;
      margin-bottom: 10px; }
      .slide-content .slide-content__detail .wrapper__body .summary {
        margin-bottom: 3px;
        font-size: 0.9em; }
      .slide-content .slide-content__detail .wrapper__body .detail {
        font-size: 0.8em;
        font-weight: 500; }
        .slide-content .slide-content__detail .wrapper__body .detail span {
          font-weight: 300; }
      .slide-content .slide-content__detail .wrapper__body::after {
        content: "";
        display: block;
        width: 100%;
        height: 0.2px;
        background: #000;
        margin-top: 5px; }
    .slide-content .slide-content__detail .wrapper__footer {
      font-size: 1.2rem;
      display: flex;
      justify-content: space-evenly; }
      .slide-content .slide-content__detail .wrapper__footer i {
        margin-right: 7px;
        color: #FE810F; }

@keyframes fadeRight {
  0% {
    right: 0px; }
  100% {
    right: -10px; } }
@keyframes fadeLeft {
  0% {
    left: 0px; }
  100% {
    left: -10px; } }

/*# sourceMappingURL=homepage.css.map */
