@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&opacity=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: var(--cl_txt_02);
  line-height: 1.43;
  background-color: var(--cl_bg_01); }
  html.dark-theme,
  body.dark-theme {
    --cl_bg_01: #12181B;
    --cl_bg_02: #2a2e35;
    --cl_bg_03: #2e3234;
    --cl_txt_01: #f8f8f8;
    --cl_txt_02: #b2becd;
    --cl_theme_01: #ff7575;
    --cl_theme_02: #ffa2a2;
    --cl_shadow_01: #1d2025;
    --cl_shadow_02: #373c45;
    --cl_shadow_03: #0e1316;
    --cl_shadow_04: #161d20; }
  html.light-theme,
  body.light-theme {
    --cl_bg_01: #f1f1f1;
    --cl_bg_02: #fff;
    --cl_bg_03: #f1f1f1;
    --cl_txt_01: #000000;
    --cl_txt_02: #323232;
    --cl_theme_01: #ff7575;
    --cl_theme_02: #ffa2a2;
    --cl_shadow_01: #F1F1F1;
    --cl_shadow_02: #EFEFEF;
    --cl_shadow_03: #F1F1F1;
    --cl_shadow_04: #EFEFEF; }

.main-container {
  padding: 0;
  max-width: 1700px; }

.feature {
  visibility: hidden; }

header {
  visibility: visible; }

.showtime {
  visibility: hidden; }

.carousel {
  visibility: hidden; }

ul {
  list-style: none; }

.imgBx {
  width: 100px;
  height: 70px;
  overflow: hidden; }
  .imgBx img {
    max-width: 100%;
    height: 100%; }

a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: inherit; }

hr {
  margin-top: 30px;
  border-top: 5px dashed #ccc; }

button {
  outline: none;
  border: none; }

nav {
  justify-content: space-between; }
  nav .navbar-brand {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%; }
  nav #navigation {
    width: 60%;
    font-size: 1.3rem;
    font-weight: 600;
    font-style: bold; }
  nav .navbar-nav {
    width: 100%; }
  nav .nav-item {
    margin-right: 30px; }
  nav .modal-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.496);
    width: 100%;
    height: 100%; }
  nav .modal-dialog {
    max-width: 60%; }
  nav .modal-body {
    display: flex;
    justify-content: space-between;
    padding: 0; }
    nav .modal-body .login-top.left {
      float: left;
      width: 56%;
      padding: 50px;
      background: #fff; }
      nav .modal-body .login-top.left .imgBx {
        margin: 0 auto; }
      nav .modal-body .login-top.left h2 {
        text-align: center;
        margin-bottom: 40px; }
      nav .modal-body .login-top.left input {
        padding: 10px 0;
        padding-right: 30px; }
      nav .modal-body .login-top.left textarea {
        height: 80px;
        padding: 10px 0;
        margin-bottom: 40px; }
      nav .modal-body .login-top.left input,
      nav .modal-body .login-top.left textarea {
        width: 100%;
        box-shadow: none;
        outline: none;
        border: none;
        border-bottom: 2px solid #999; }
      nav .modal-body .login-top.left textarea {
        margin-bottom: 20px; }
      nav .modal-body .login-top.left input[type="submit"] {
        border-bottom: none;
        cursor: pointer;
        background: #cb1217;
        color: #fff;
        margin-bottom: 0em;
        text-transform: uppercase; }
      nav .modal-body .login-top.left form div {
        position: relative;
        margin-bottom: 30px; }
      nav .modal-body .login-top.left form div label {
        position: absolute;
        top: 10px;
        left: 0;
        transition: 0.5s;
        pointer-events: none; }
      nav .modal-body .login-top.left input:focus ~ label,
      nav .modal-body .login-top.left textarea:focus ~ label,
      nav .modal-body .login-top.left input:valid ~ label,
      nav .modal-body .login-top.left textarea:valid ~ label {
        top: -12px;
        left: 0;
        color: #cb1217;
        font-size: 12px;
        font-weight: bold; }
      nav .modal-body .login-top.left input:focus,
      nav .modal-body .login-top.left textarea:focus,
      nav .modal-body .login-top.left input:valid,
      nav .modal-body .login-top.left textarea:valid {
        border-bottom: 2px solid #cb1217; }
    nav .modal-body .login-top.right {
      width: 40%;
      float: left;
      padding: 4.8em 2em;
      background: url(../image/login_bg.jpg);
      color: #fff; }
      nav .modal-body .login-top.right input[type="text"],
      nav .modal-body .login-top.right input[type="password"] {
        outline: none;
        font-size: 0.9em;
        color: #999;
        padding: 12px;
        margin: 0;
        width: 100%;
        border: 1px solid #fff;
        -webkit-appearance: none;
        margin-bottom: 28px;
        font-family: "Open Sans", sans-serif; }
      nav .modal-body .login-top.right .form-check-label span {
        margin-left: 20px; }
      nav .modal-body .login-top.right .form-check-input {
        width: 20px;
        height: 20px; }
    nav .modal-body .login-bottom {
      margin: 2em 0 3em 0; }
    nav .modal-body .login-bottom a {
      float: left;
      color: #fff;
      font-size: 0.95em;
      line-height: 43px; }
    nav .modal-body .login-bottom a:hover {
      color: #fff;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      -ms-transition: 0.5s all;
      text-decoration: underline; }
    nav .modal-body .login-top.left input[type="submit"]:hover {
      background: #227279; }
    nav .modal-body .login-bottom input[type="submit"] {
      font-size: 0.9em;
      color: #fff;
      background: #cb1217;
      outline: none;
      border: none;
      cursor: pointer;
      padding: 12px 10px;
      -webkit-appearance: none;
      width: 35%;
      font-weight: 400;
      transition: 0.5s all;
      -webkit-transition: 0.5s all;
      -moz-transition: 0.5s all;
      -o-transition: 0.5s all;
      -ms-transition: 0.5s all;
      text-transform: uppercase;
      float: right;
      border-radius: 5px; }
    nav .modal-body .login-bottom input[type="submit"]:hover {
      background: #227279; }
    nav .modal-body .login-top input[type="text"]:hover,
    nav .modal-body .login-top input[type="password"]:hover {
      border-bottom-color: rgba(132, 141, 215, 0.52); }
    nav .modal-body .login-top.right h3 {
      text-align: center;
      margin: 0em 0 1em 0;
      color: #fff;
      font-size: 1.5em;
      font-weight: 300; }
    nav .modal-body .eye {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%); }
      nav .modal-body .eye .hide1 {
        display: none; }

.carousel {
  width: 100%;
  height: 500px;
  background: url("../image/carousel_bg.jpg") top/cover; }

.carousel__banner {
  color: #fff;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase; }
  .carousel__banner p:nth-of-type(1) {
    font-size: 2.6rem;
    font-weight: 700; }
    .carousel__banner p:nth-of-type(1) span {
      color: #bb511e; }
  .carousel__banner p:nth-of-type(2) {
    font-size: 1.6rem;
    text-align: right;
    font-style: italic; }
  .carousel__banner p:last-of-type {
    text-transform: none;
    align-self: left; }
  .carousel__banner button {
    background: linear-gradient(to right, #bb511e, #f1bc00);
    padding: 7px 40px;
    color: inherit;
    border-radius: 16px;
    margin-top: 15px;
    font-size: 1.6rem;
    font-weight: 500; }

.carousel__slide {
  /* .carousel-image:hover, */ }
  .carousel__slide .carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    top: 50%;
    box-sizing: content-box;
    transform: translateY(-50%);
    width: 100%;
    height: 80%;
    margin: auto;
    overflow: hidden; }
  .carousel__slide .carousel-slide {
    display: flex;
    width: fit-content; }
  .carousel__slide .carousel-image {
    position: relative;
    height: 100%;
    text-align: center;
    transition: transform 0.6s; }
    .carousel__slide .carousel-image.active:hover .overlay {
      opacity: 1;
      transition: opacity .5 ease-in; }
    .carousel__slide .carousel-image .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.258);
      display: flex;
      align-items: center;
      justify-content: center;
      transition: opacity .5 ease-in;
      opacity: 0; }
      .carousel__slide .carousel-image .overlay i {
        margin: 7px;
        color: #fff;
        font-size: 1.5rem; }
      .carousel__slide .carousel-image .overlay .overlay__bg {
        height: 100%; }
  .carousel__slide .carousel-image.active {
    position: relative;
    transform: scale(1.6);
    z-index: 10; }
  .carousel__slide .carousel-image.sub {
    position: relative;
    transform: scale(1.2);
    z-index: 5; }
  .carousel__slide img {
    /* width: 300px; */
    min-height: 100%;
    max-height: 100%;
    /* Dùng cho object fit cho những ảnh có chiều rộng lớn hơn chiều dài */
    object-fit: cover; }
  .carousel__slide .carousel-dots {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%); }
  .carousel__slide .dot {
    border: 1px solid darkgray;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #d0d0d0;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.1s; }
  .carousel__slide .dot.active,
  .carousel__slide .dot:hover {
    background-color: #717171; }
  .carousel__slide button {
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    outline: none;
    border: none;
    color: white;
    display: none; }
  .carousel__slide #prevBtn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    font-size: 30px !important;
    z-index: 10;
    opacity: 0.8;
    cursor: pointer; }
  .carousel__slide #nextBtn {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 0;
    font-size: 30px !important;
    z-index: 10;
    opacity: 0.8;
    cursor: pointer; }

.feature {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .feature .title {
    font-size: 2.8rem; }
  .feature .nav-pills {
    justify-self: center; }
  .feature .slide_content {
    width: 100px;
    height: 100px;
    border: 1px solid #12181B; }

/*# sourceMappingURL=homepage.css.map */
