// Helpers

@import "./Helpers/variables";
@import "./Helpers/mixins";

//Venders để phái trên reset (chứa code thư viện)

//Base
@import "./Base/reset";

//vender

//Layout
@import "./Layouts/nav";
@import "./Layouts/seat-booking";

.booking__right--navbar {
    border: 5px dashed rgb(32, 214, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100px;
    right: 0;
    width: 16%;
    z-index: 100;
    color: #fff;
}

.navbar__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-inline-start: 0;
}
.navbar__item {
    position: relative;
    width: 100%;
    
    &.navbar__link--active {
        font-weight: 900;
        height: inherit;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #294dff;
        }
    }
}
.navbar__link {
    display: inline-block;
    text-decoration: dashed;
    text-transform: uppercase;
    font-weight: 400;
    width: 100%;
    padding: 2rem;
}
