<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./library/slick-1.8.1/slick-1.8.1/slick/slick.css">
    <!-- <link rel="stylesheet" href="./library/slick-1.8.1/slick-1.8.1/slick/slick-theme.css"> -->
    <link rel="stylesheet" href="./css/demo.css">
    <style>
        body {
            background-color: #12181B;
            color: #fff;
            text-align: center;
            width: 100vw;
            height: 400px;
        }



        .slider-nav .slick-track {
            padding: 100px 0 !important;
            /* width: 400px !important; */
        }
    </style>


</head>

<body>
    <div class="carousel">
        <div class="slider-for">
            <div class="carousel-show">
                <div class="imgBx">
                    <img src="https://images-na.ssl-images-amazon.com/images/I/71ZcU-iD9ZL._AC_SL1385_.jpg" alt="">
                </div>
                <!-- <div class="overlay__bg"></div> -->
                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-show">
                <div class="imgBx">
                    <img src="https://diaryfox.files.wordpress.com/2018/05/landscape-1522924460-avengers-infinity-war-poster.jpg"
                        alt="">
                </div>
                <div class="overlay"> </div>
                <div class="banner">
                    <div class="banner__title">Advenger: Cuộc chiến vô cực</div>
                    <div class="banner__summary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, nam,
                        quae
                        veritatis, ipsa nulla consectetur deserunt iusto impedit culpa officiis voluptatem optio eum?
                        Ad, ipsa explicabo dicta accusamus voluptate voluptates animi, veritatis sapiente, consectetur a
                        temporibus! Voluptatibus est aspernatur ipsam!</div>
                    <div class="banner__options">
                        <div class="banner__options--detail"></div>
                        <div class="banner__options--booking"></div>

                    </div>
                </div>

            </div>
            <div class="carousel-show">
                <div class="imgBx">
                    <img src="https://img.youtube.com/vi/OCO-csVHouo/maxresdefault.jpg" alt="">
                </div>
                <!-- <div class="overlay__bg"></div>
                <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-show">
                <!-- <div class="overlay__bg"></div> -->
                <div class="imgBx">
                    <img src="https://tentickers.net/wp-content/uploads/2017/03/258ec2aa43c209f7e1b5081a5cac64a9-interstellar-1468642810.jpg"
                        alt="">
                </div>

                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-show">
                <!-- <div class="overlay__bg"></div> -->
                <div class="imgBx">
                    <img src="https://www.thedorkreport.com/wp-content/uploads/2008/08/batman-dark-knight-feature-1200x675.jpg"
                        alt="">
                </div>

                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-show">
                <!-- <div class="overlay__bg"></div> -->
                <div class="imgBx">
                    <img src="https://img.mandarake.co.jp/webshopimg/03/55/960/0355318960/03553189600.jpg" alt="">
                </div>
                <!-- <div class="overlay">
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
        </div>
        <div class="slider-nav">
            <div class="carousel-image">
                <img src="https://images-na.ssl-images-amazon.com/images/I/71ZcU-iD9ZL._AC_SL1385_.jpg" alt="">
                <!-- <div class="overlay">
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> --> 
            </div>
            <div class="carousel-image">
                <img src="https://diaryfox.files.wordpress.com/2018/05/landscape-1522924460-avengers-infinity-war-poster.jpg"
                    alt="">
                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-image">
                <img src="https://img.youtube.com/vi/OCO-csVHouo/maxresdefault.jpg" alt="">
                <!-- <div class="overlay__bg"></div>
                <div class="overlay">
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-image">
                <!-- <div class="overlay__bg"></div> -->
                <img src="https://tentickers.net/wp-content/uploads/2017/03/258ec2aa43c209f7e1b5081a5cac64a9-interstellar-1468642810.jpg"
                    alt="">
                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-image">
                <!-- <div class="overlay__bg"></div> -->
                <img src="https://www.thedorkreport.com/wp-content/uploads/2008/08/batman-dark-knight-feature-1200x675.jpg"
                    alt="">
                <!-- <div class="overlay">
                    <div class="overlay__bg"></div>
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
            <div class="carousel-image">
                <!-- <div class="overlay__bg"></div> -->
                <img src="https://img.mandarake.co.jp/webshopimg/03/55/960/0355318960/03553189600.jpg" alt="">
                <!-- <div class="overlay">
                    <i class="fas fa-play-circle    "></i>
                    <i class="fas fa-link    "></i>
                </div> -->
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="./library/slick-1.8.1/slick-1.8.1/slick/slick.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.slider-for').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                fade: true,
                asNavFor: '.slider-nav'
            });
            $('.slider-nav').slick({
                centerMode: true,
                centerPadding: '60px',
                infinite: false,
                slidesToShow: 3,
                slidesToScroll: 1,
                asNavFor: '.slider-for',
                dots: true,
                centerMode: true,
                focusOnSelect: true,
                arrows: false,
            });
        });
    </script>
</body>

</html>